/**
 * (c) Tonytemplates Ltd, https://www.tonytemplates.com/support@tonytemplates.com
 */

.tt-my-account {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 110px;
}